.cube {
    position: absolute;
    bottom: 50px; /* 从底部开始 */
    background-color: white; /* 设置为纯白色 */
    border-radius: 2px;
    animation: rise 25s infinite cubic-bezier(0.1, 0.4, 0.1, 1);
    opacity: 0;
    z-index: -1; /* 设置为底层 */
}
@keyframes rise {
    0% { bottom: 50px; opacity: 0; transform: rotate(0deg); }
    10% { opacity: 0.6; }
    70% { opacity: 0.6; }
    80% { opacity: 0; }
    100% { bottom: 75%; opacity: 0; transform: rotate(720deg); }
}